@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');


.dog-details {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
   justify-content: space-between;
width: 100%;
max-height: 100%; */

padding: 50px;
}

.detail{
    /* display: flex;
    flex-direction: column;
    line-height: 1.6;
    justify-content: space-between;
    margin: 50px; */
    
    padding: 20px 40px 40px;
    max-width: 100%;
    display: flex;
    margin-top: 30px;
}

/* .flex-child {
  flex: 1;
  
}  */

.dog-items {
  /* display:flex;
  font-size: 25px;
  flex-direction: column;
  justify-content: space-between;
  color: #000033;
  align-self: left;
   font-family: 'Share Tech', sans-serif;
   */
   margin-left: 50px;
    align-self: left;
   
   
}

.image {
 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 60px;
        width: 200px;
        object-fit: contain;
        align-self: flex-start;
        margin-left: 200px;
        margin-right: 80px;
        

}
 img{
  width: 400px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.edit-button {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 40px;
    width: 10%;
    align-self: center;
    margin-top: 1px;
    margin-left: 50px;
    background-color: #000033;
    color: white;
    border: none;
    box-shadow: 2px 2px 10px 2px #CECECE;
    cursor: pointer;
    padding-bottom: 20px;
    
}

.vertical-line{
  display: inline-block;
  border-left: 1px solid #ccc;
  margin-top: 19px;
  height: 500px;
}

.edit-link {
    color: white;
}

@media (max-width: 1024px) {
    .name {
        font-size: 32px;
    }
   
    .product-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 420px) {
  .title {
    font-size: 34px;
    margin-top: 120px;
    color: #000033;
    margin-left: 25px;
}

.sub-title {
  font-size: 22px;
  padding: 5px;
  color: #000033;
  margin-left: 25px;
}


.description {
    padding: 10px;
    letter-spacing: .9px;
    width: 100vw;
}
    .product-detail-image {
        width: 100%;
       
    }
    .product-detail {
        padding: 0px;
        padding-top: 120px;
        margin: 0px;
      
    }
    .button-container {
        
        padding: 20px;
        padding-bottom: 80px;
    }
    .edit-button{
        width: 40%;
    }
}